/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

header {
  padding-top: 10px;
  padding-left: 20px;
  background-color: white;
}

.title {
  font-size: 20px;
  font-weight: lighter;
}


header .logo {
  width: 200px;
}

main {
  padding-top: 40px;
  padding-left: 500px;
}