/*reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f6f8fa;

}



.container {
  max-width: 950px;
  background-color: white;
  border-radius: 5px;
  margin: 50px auto;

}

.btn {
  font-size: .8rem;

}


header {
  padding-top: 10px;
  padding-left: 20px;
  background-color: white;
}

header img {
  vertical-align: middle;
}


header .logo {
  font-size: 38px;
  font-weight: bold;
  ;
}

main {
  padding-top: 40px;
  padding-left: 500px;
}